/* TODO
 * + edit the .features__img-imitation;
 * + edit the grid;
 *   add a bottom line to the .feature__link and reaction on hover;
 *   edit the feature__icon;
 *   rename;
 *   document the code;
 */

/* =========================================================
   BASE
   ========================================================= */

/* SETUP */

:root {
   --main-font-family: "Open Sans", Arial, sans-serif;
   --base-font-size: 16px;
   --page-padding: 30px;
   --container-padding: calc((100vw - 1440px) / 2);
}

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;

   font-family: var(--main-font-family);
   font-size: var(--base-font-size);
   color: #000;
   background-color: #eee;
}

img {
   max-width: 100%;
}





/* =========================================================
   MODULE
   ========================================================= */

/* CONTAINER */

.container {
   /*max-width: 1440px;*/
   /*margin: auto;*/
   /*padding-right: var(--container-padding);*/
   /*padding-left: var(--container-padding);*/
}

/* GRID */

.grid-row {
   /*margin-right: calc(-1 * var(--container-padding));*/
   /*margin-left: calc(-1 * var(--container-padding));*/
}

.row {
   display: flex;
}

.col {
   /*display: table-cell;*/
   /*vertical-align: middle;*/
   width: 50%;
}





/* =========================================================
   LAYOUT
   ========================================================= */

/* FEATURES */

:root {
   --feature-icon-size: 35px;
}

.features {}

.features__img-imitation {
   display: flex;
   align-items: center;
   width: 40%;
   background: url('../img/cook.jpeg') #fff no-repeat center / cover;
   /*background: url('../img/cook.jpeg') #fff no-repeat center / cover,*/
               /*linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));*/
   border-left: var(--container-padding) solid transparent;
}

.features__title {
   padding-left: 30px;

   font-size: 50px;
   text-transform: uppercase;
   color: #fff;
   border-left: 10px solid #f1cd39;
}

.features__title_yellow {
   color: #f1cd39;
}

.features__content {
   width: 60%;
}

/* feature */

.feature-wrapper {
   /*width: 40%;*/
   display: flex;
   align-items: flex-start;

   background-color: #fff;
   box-sizing: content-box;
}

.feature-wrapper:nth-child(2) {
   /*width: 60%;*/
   border-right: var(--container-padding) solid transparent;
}

.feature-wrapper_main {
   background-color: #f1cd39;
}

.feature-wrapper_main .feature__desc {
   color: #444;
}

.feature-wrapper_secondary {
   background-color: #26262e;
}

.feature-wrapper_secondary .feature {
   color: #f1cd39;
}

.feature-wrapper_secondary .feature__desc {
   color: #b7b7bb;
}

.feature {
   /*max-width: 445px;*/
   padding: 30px;
   padding-top: 40px;

   color: #333;
}

.feature_empty {
   /*max-width: 100%;*/
   align-self: center;

   padding: 0 30px;
}

.feature__icon-wrapper {
   display: inline-block;
   width: var(--feature-icon-size);
   height: var(--feature-icon-size);

   border: 1px solid;
   border-radius: 50%;
   text-align: center;
}

.feature__icon-wrapper_inline {
   margin-right: 15px;
}

.feature__icon {
   line-height: var(--feature-icon-size);
}

.feature__title {
   margin-top: 18px;
   margin-bottom: 15px;

   font-size: 18px;
   font-weight: 600;
   line-height: 1.2;
   text-transform: uppercase;
}

.feature__desc {
   margin: 0;

   line-height: 1.5;
   color: #6a6b70;
}

.feature__link-wrapper {
   display: block;
   width: 100%;
}

.feature__link {
   color: inherit;
   text-decoration: none;

   display: inline-block;

   font-size: 18px;
   font-weight: 600;
   text-transform: uppercase;
}
